.playlist {
    display: inline-block;
    width: 600px;
    font-family: "Benne", serif;
    font-size: 32px;
    line-height: 1.4em;
}

.playlist ol {
    padding: 0;
}

@media (max-width: 1000px) {
    .playlist {
        width: 100%;
        font-size: 22px;
    }
}

.track {
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
}

.trackText {
    display: flex;
    align-items: flex-start;
}