.banner {
    width: 260px;
    height: 100vh;
    background-image: url(img/banner-nologo-v.jpg);
    background-size: contain;
    background-position: center center;
}

.banner {
    pointer-events: none;
}

.logotype,
.logotype img {
    pointer-events: none;
}

@media (max-width: 1000px){
    .banner {
        width: 100vw;
        height: 260px;
        background-image: url(img/banner-nologo-h.jpg);
        background-size: contain;
        background-position: center center;
    }
}