.exhibit-haidernism {
    font-family: "Arial Unicode MS", "Arial", "Helvetica", sans-serif;
    letter-spacing: 0.3em;
    font-size: 22px;
}

.exhibit-haidernism {
    overflow-x: scroll;
}

@media (max-width: 1000px){

    .exhibit-haidernism .responsiveStack {
        overflow-x: hidden !important;
    }

    .exhibit-haidernism {
        overflow-x: hidden !important;
    }

}