.exhibit-tiabn {
    background: black;
}

.exhibit-tiabn h1 {
    font-family: Benne, serif;
    font-size: 48px;
    font-weight: 500;
    text-shadow: 0px 1px 4px rgba(0,0,0,.4);
}

.exhibit-tiabn .container {
    z-index: 2;
    display: inline-flex;
    align-items: center;
}

.exhibit-tiabn .content {
    padding: 0 0 0 10vw;
}

.exhibit-tiabn img.banner {
    height: 100vh;
}

@media (max-width: 1000px){
    .exhibit-tiabn {
        overflow-y: scroll !important;
    }

    .content {
        top: 300px;
        position: absolute;
    }
}

@media ( min-width: 1000px ) {
    .content {
        max-width: 85%;
        margin: 0 auto;
        padding: 0 0 0 10vw;
        left: 266px;
        top: 100px;
        position: absolute;
    }
}