.carouselContainer {
    margin: 0 0 32px 0;
    /* Fill up the entire container so that the carousel can. */
    height: 100%;
    position: relative;

    overflow-x: scroll;
    max-width: 100vw;
    white-space: nowrap;
}

.carousel {
    height: 100%;
    display: inline-flex;
    gap: 64px;
    padding: 24px 0;
    align-items: center;
}

@media (max-width: 1000px){
    /* At this breakpoint, scrolling becomes vertical */
    .carouselContainer {
        height: unset;
        overflow: hidden; /* let container handle overflow instead */
    }
    .carousel {
        display: flex;
        flex-direction: column;
    }
}

.carouselContainer::-webkit-scrollbar {
    height: 30px;
    margin: 24px 0;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
}

.carouselContainer::-webkit-scrollbar-track {
    background: #2C1D59;
    border-radius: 64px;
    margin: 24px 0;
}

.carouselContainer::-webkit-scrollbar-thumb {
    border: 8px solid #2C1D59;
    background: #FF70C7;
    border-radius: 64px;
    margin: 24px;
    top: 30px;
}

.carouselContainer::-webkit-scrollbar-thumb:hover {
    background: #fda6dc;
}

.carouselContainer::-webkit-scrollbar-thumb:active {
    background: rgb(161, 51, 119);
}
