.redCard {
    display: inline-block;
    padding: 8px 12px;
    background: rgb(195, 1, 0);
}

.titleSmaller {
    margin: 1em 0;
}

.titleBigger {
    font-size: 48px; 
}

.firstSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.releaseCredits {
    width: 500px;
}

.releaseFeatures {
    width: 650px;
    margin-top: 16px;
}

.trackSection {
    min-width: 100vw;
    min-height: 100%;
    max-height: 100%;
    background: red;
}

.lyricsCard {
    display: block;
    margin: 20px;
    width: 400px;
    font-size: 15px;
    color: white;
    letter-spacing: 1.2px;
    font-weight: 900;
}

.lyricsCard p {
    margin-bottom: 1px;
}

.trackSectionHeader {
    height: 100%;
    position: sticky;
    left: 0;
}