.exhibit_card {
    position: relative;
    height: 98%;
    /* 
    exhibit_card is always a square, and i want it to be a dynamically
    sized one.
    the best way to do this would be to set height == width,
    but height is 90% of the container of the height...
    we sadly cannot set 'width' to be == to 90% of the height
    and force a square, so we must use JS here. 
    the good news is ResizeObservers allow us to monitor element
    resizes natively without impacting perf on all modern browsers!
    so i don't feel too bad about it.
    */
    width: 500px;
    background-size: cover;
    color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    cursor: pointer;
}

@media (max-width: 1000px){
    .exhibit_card {
        width: 98%;
        height: 500px;
    }
}

.exhibit_info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.exhibit_info .exhibit_title {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 4px;
}

.exhibit_info .exhibit_subtitle,
.exhibit_info .exhibit_type {
    color: rgba(255,255,255,.9);
    margin: 4px 0;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5));
    z-index: 1;
}

.exhibit_detail {
    opacity: 0;
    transition: 0.15s ease-in-out;
}

.exhibit_detail:hover {
    opacity: 1;
}

@media (hover: none) {
    /* If the device has no capability for "hovering" (i.e. it is a touchscreen),
       always show exhibit detail & vignette. */
    .exhibit_detail {
        opacity: 1;
    }
}