.topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 92.5%;
    margin: 0 auto;
    padding: 24px 0 0;
    z-index: 1;
}

.topbarSectionRight {
    display: flex;
    align-items: center;
}

/* logo styles */

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 16px 0;
}

.typemark {
    font: 700 48px wavehaus;
    color: hsl(323deg 100% 72%);
}

.logomark {
    margin: 0 0 8px 0;
}

@media (min-width: 1440px){
    .logomark {
        width: 96px;
        height: 96px
    }

    .typemark {
        font-size: 36px;
    }
    
    .logoContainer {
        flex-direction: row;
        align-items: center;
    }

    .logomark {
        margin: 0 24px 0 0;
    }
}

/* top bar links */

.socialLink {
    margin: 0 8px;
}

.socialLink img {
    width: 32px;
    height: 32px;
}

nav.links ol {
    list-style-type: none;
    padding: 0;
}

nav.links ol li {
    display: inline-block;
    margin-right: 16px;
    font: 600 24px wavehaus;
    color: #FF90D3;
    border-bottom: 2px solid #ff90d373;
    transition: 0.1s ease-out;
}

nav.links ol li:hover {
    border-bottom: 2px solid #ff90d3;
}