.topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 92.5%;
    margin: 0 auto;
    padding: 24px 0 0;
    z-index: 1;
}

.topbarSectionLeft {
    z-index: 1;
}

.topbarSectionRight {
    display: flex;
    align-items: center;
    z-index: 1;
}

/* logo styles */

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.typemark {
    font: 700 48px wavehaus;
    color: hsl(323deg 100% 72%);
}

.logomark {
    margin: 0 0 8px 0;
    display: flex;
    align-items: center;
}

.logoImage {
    position: relative;
    left: -38px;
}

:global(.showBackIcon) .logoImage {
    left: 0;
}

.logomark img {
    cursor: pointer;
}

.logomark svg {
    /* back icon (*/
    opacity: 0;
    fill: hsl(323deg 100% 72%);
    margin: 0 8px 0 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

:global(.showBackIcon).logomark svg {
    opacity: 1;
}

.typemark {
    font-size: 36px
}

@media (min-width: 1440px){
    /* 1440px and greater */
    .logomark img {
        width: 96px;
        height: 96px
    }
    
    .logoContainer {
        flex-direction: row;
        align-items: center;
    }

    .logomark {
        margin: 0 24px 0 0;
    }

    .links {
        margin: 0 0 0 32px;
    }

    .topbarSectionLeft {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1440px) {
    /* 1024px -> 1440px */
    .topbarSectionLeft {
        display: flex;
        align-items: flex-end;
    }

    .topbarSectionLeft .links {
        margin: 0 0 5px 16px;
    }

    .logomark img {
        width: 96px;
        height: 96px;
    }
}

@media (max-width: 768px) {
    /* 768px -> 1024px */
    .topbarSectionLeft {
        display: block;
    }

    .topbarSectionLeft .links {
        margin: 8px 0 0 0;
    }

    .logomark img {
        width: 96px;
        height: 96px;
    }
}


/* top bar links */

.socialLink {
    margin: 0 8px;
}

.socialLink img {
    width: 32px;
    height: 32px;
}

nav.links ol {
    list-style-type: none;
    padding: 0;
}

nav.links ol li {
    display: inline-block;
    margin-right: 16px;
    font: 600 24px wavehaus;
    color: #FF90D3;
    border-bottom: 2px solid #ff90d373;
    transition: 0.1s ease-out;
}

nav.links ol li.active {
    border-bottom: 3px solid #ff9ed8;
    color: #ff9ed8;
}

nav.links ol li:hover {
    border-bottom: 3px solid #ff9ed8;
}

nav.links ol li.active:hover {
    border-bottom: 3px solid #ff9ed8;
}