.main {
    /* Fill the entire height of the page so that Carousel can.
       (See ./components/Carousel/Carousel.module.css) */
    flex: 1;
    z-index: 1;
}

.headerMobile {
    margin: 16px auto 0;
}

.footer {
    z-index: 1;
    flex: 0;
    margin: 24px auto;
}