.shoppingCart {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 100001;
    width: 360px;
    margin: 0 24px 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px #2c1867a8;
    
    opacity: 1;
    transform: translateY(0);
    transition: 0.25s ease-out;
}

.shoppingCart:global(.hidden) {
    opacity: 0;
    transform: translateY(300px);
    pointer-events: none;
}

.shoppingCartHeader {
    background: #6e45e6;
    border-radius: 8px 8px 0 0;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoppingCartHeaderTitle {
    font-family: 'wavehaus';
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

.shoppingCart li {
    padding: 8px;
    margin: 0 8px;
    border-bottom: 1px solid #d3d3d3;
}

.shoppingCart li:last-child {
    border-bottom: unset;
}

.shoppingCartItem {
    display: flex;
    align-items: center;
}

.shoppingCartItemInfo {
    flex-grow: 1;
}

.shoppingCartItemTitle {
    font-weight: 600;
}

.shoppingCartItemPrice {
    margin-top: 6px;
    font-size: 13px;
    color: #444;
}

.shoppingCartItemImage {
    width: 48px;
    height: 48px;
    margin: 0 8px 0 0;
}

.shoppingCartItemImage img {
    width: 100%;
    height: 100%;
}

.deleteContainer path {
    fill: #383838;
}

.shoppingCartItemPrice {
    display: flex;
    align-items: center;
    gap: 8px;
}

.shoppingCartItemQty {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.shoppingCartItemQtyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 20px; height: 20px;
    border: 0;
    color: #444;
    background: #e3e3e3;
    border: 1px solid lightgrey;
    cursor: pointer;
}

.shoppingCartItemQtyButton svg {
    font-size: .8rem !important;
}

.shoppingCartItemQtyButton:disabled {
    opacity: .5;
}

.shoppingCartItemQtyValue {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: GT Walsheim;
    width: 40px;
    text-align: center;
    border-radius: 99px;
    height: 24px;
    background: #f5f5f5;
    border: 1px solid lightgrey;
    user-select: none;
}

.shoppingCartItemQtyInput:focus {
    outline: none;
    border: 3px solid rgb(65, 65, 65);
}

.shoppingCartFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background: #6e45e6;
    border-radius: 0 0 8px 8px;
    padding: 12px 24px;
}

button.checkout {
    background: hsl(323deg 100% 72%);
    border: 0;
    border-radius: 89px;
    padding: 4px 14px;
    color: white;
    font-family: 'wavehaus';
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    transition: 0.1s linear;
}

button.checkout:hover {
    background: hsl(323deg 100% 78%)
}

button.checkout:active {
    background: hsl(323deg 36% 44%)
}

.total {
    font-family: 'wavehaus';
    font-weight: 700;
    font-size: 16px;
    color: #faf8ff;
}

.closeButtonContainer svg {
    color: rgba(255,255,255,.8);
    font-size: 1.2rem;
}

.closeButtonContainer {
    border-radius: 100%;
    display: flex;
    padding: 3px;
    color: rgba(255,255,255,.8);
    transition: 0.1s linear;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}

.closeButtonContainer:hover {
    background: rgba(0,0,0,.3);
}