html,
body {
  background-color: #6135E2;
  padding: 0;
  margin: 0;
  font-family: 'GT Walsheim', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header,
main,
footer {
  width: 100%;
  max-width: 92.5%;
  margin: 0 auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}