.responsiveStack {
    height: 100%;
    flex-shrink: 0;
    display: inline-flex;
}

.responsiveStackChild {
    margin: 0 32px 0 0;
    height: 100%;
    display: inline-block;
}

@media (max-width: 1000px){
    .responsiveStack {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .responsiveStackChild {
        height: unset;
        width: 100%;
    }
}